main{
    max-width: 100vw;
    max-height: 600px;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 600px;
    grid-template-areas: 'apresentacao descricao';
    background-color: rgb(240, 240, 240);
    gap: 10%;
}
.apreProduto{
    grid-area: apresentacao;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90% 10%;
    grid-template-areas: 'principal' 'amostra';
   
}
.imgPrincipal{
    grid-area: principal;
    margin: auto;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease-out;
    cursor: zoom-in;
   
}
.imgPrincipal > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.imgPrincipal:hover img{
    transform: scale(1.5);
    cursor: zoom-in;
}
.imgsPequenas{
    grid-area: amostra;
    display: flex;
    justify-content: space-around;

}
.imgsPequenas > button{
    background-color: none;
}
.imgsPequenas > img{
    width: 45px;
    height: 45px;
}
#frete{
    color: seagreen;
}
.precos h2{
    margin-top: 3px;
    margin-bottom: 1px;
    color: #129cf2;
}
.precos > h3{
    margin-top: 3px;
    color: #129cf2;
}
.tamanhos{
    display: flex;
    width: 145px;
    height: 65px;
    padding: 5px;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
}
.tamanhos .numero{
    border: 1px solid black;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    margin: 1.3px;
}
#tamanhos{
    margin-bottom: 3px;
}
.naoTem{
    background-color: rgb(157, 155, 155);

}

#comprar{
    background-color: #ff691e;
    border: 1px solid #ff691e;
    color: white;
    height: 50px;
    border-radius: 5px;
    font-size: 25px;
    padding: 3px 17px;
    box-sizing: border-box;
    margin-top: -55px;
}
#favoritar{
    background-color: #adabab;
    border: 1px solid #adabab;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    font-weight: bolder;
    font-size: 30px;
    padding: 11.8px 10px;
    position: relative;
    top: 8px;
    
}
.comprar{
    display: flex;
    align-items: baseline;
    max-height: 50px;
}
@media(max-width: 1200px){
    main{
        grid-template-columns: 50% 40%;
    }
}
@media(max-width: 1030px){
    main{
        max-height: 1200px;
        grid-template-columns: 100%;
        grid-template-rows: 600px 600px;
        grid-template-areas: 
        'apresentacao'
        'descricao';
        gap: 0%;
    }
    .apreProduto{
        grid-template-columns: 100%;
        grid-template-rows: 80% 10%;
        grid-template-areas: 'principal' 'amostra';
        gap: 5%;
    }
    .informacoes{
        padding-left: 40px;
    }
}
