header{
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
nav{
    display: flex;
    justify-content: space-around;
    width: 35%;
    align-items: center;
}
nav > a{
    color: white;
    text-decoration: none;
}
.logo{
    display: flex;
    align-items: baseline;
}
.logo > img{
    width: 50px;
    height: 50px;
}
#pesquisa{
    width: 550px;
    border-radius: 25px;
}
#lupa{
    position: absolute;
    color: black;
    top: 33px;
    left: 52vw;
    font-size: 20px;
}
@media (max-width: 1460px){
    #lupa{
        left: 54vw;
    }
}
@media (max-width: 1320px){
    #lupa{
        left: 56vw;
    }
}
@media (max-width: 1220px){
    #lupa{
        left: 58vw;
    }
}
@media (max-width: 1120px){
    #lupa{
        left: 60vw;
    }
}


@media (max-width: 1030px){
    #lupa{
        left: 70vw;
        top: 100px;
    }
    header {
        flex-direction: column;
    }
  
    nav {
        width: 100%;
        margin-bottom: 10px;
    }
  
    #pesquisa{
        max-width: 90vw;
        margin-bottom: 20px;
        background-color: re;
    }
}
@media(max-width: 830px){
    #lupa{
        left: 74vw;
    }
}
@media(max-width: 720px){
    #lupa{
        left: 77vw;
    }
}
@media(max-width: 640px){
    #lupa{
        left: 80vw;
    }
}
@media(max-width: 580px){
    #lupa{
        left: 84vw;
    }
}
@media(max-width: 500px){
    #lupa{
        left: 88vw;
    }
}