@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap');
header {
    background-color: #333333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 35%;
    align-items: center;
}

nav>a {
    color: white;
    text-decoration: none;
}

nav>a:hover {
    background-color: #ff6b6b;
    padding: 5px;
    transition: background-color 0.2s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
}


.logo {
    display: flex;
    align-items: baseline;
    cursor: pointer;
    font-family: 'Alkatra', cursive;
    color: white;
}

.logo>img {
    width: 50px;
    height: 50px;
}
.buscar{
    width: 40%;
}
.buscar form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#pesquisa {
    width: 100%;
    border-radius: 25px;
    padding: 0px 10px;
}

#lupa {
    position: absolute;
    color: black;
    top: 52%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
}
#lupa svg {
    height: 20px;
    width: 20px;
    fill: #aaa;
  }
@media (max-width: 1120px) {
    

    .buscar {
        width: 40%;
    }
}


@media (max-width: 1030px) {

    header {
        flex-direction: column;
    }

    nav {
        width: 100%;
        margin-bottom: 10px;
    }

    .buscar {
        width: 80%;
        max-width: 90vw;
        margin-bottom: 20px;
        
    }
}

